<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{=response.title or request.application}}</title>
        <meta name="application-name" content="{{=request.application}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">

        <script src="{{=URL('static', 'js/jquery.js')}}"></script>
        <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

        <link rel="stylesheet" href="{{=URL(request.application,'static','css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{=URL(request.application,'static','css/wig_layout.css')}}" />
    </head>
    <body>
        <div id='wrap' class="container col-md-8 col-md-offset-2">
            {{if response.flash:}}
            <div id='flash' class='bg-primary'>{{=response.flash}}</div>
            {{pass}}

            <!-- Masthead ================================================== -->
            <header class="panel-body row" id="header">
                {{if response.title:}}
                <h1 class="page-header">
                    {{=response.title}}
                    <small>{{=response.subtitle or ''}}</small>
                </h1>
                {{pass}}
            </header>

            <section id="main" class="panel-body main row">
                <div>
                    {{block center}}
                    {{include}}
                    {{end}}
                </div>
            </section><!--/main-->

            <!-- Footer ================================================== -->
            <div class="row panel-body">
                <footer class="footer span12" id="footer">
                    <div class="footer-content">
                        {{block footer}} <!-- this is default footer -->
                        {{=T('Copyright')}} &#169; {{=request.now.year}}
                        {{end}}
                    </div>
                </footer>
            </div>

        </div> <!-- /container -->

        <!-- The javascript =============================================
        (Placed at the end of the document so the pages load faster) -->
        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <script src="{{=URL('static', 'js/cytoscape.min.js')}}"></script>
    </body>
</html>