html, body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background-color: #F0F0F0;
}

.btn {
	font-variant: small-caps;
}

#wrap {
	height: 100%;

	padding: 0 2em;

	background-color: #FFF;
}

#flash {
	position: absolute;
	top: 1em;
	right: 2em;

	padding: 0.5em 1em;

	border-radius: 1em;
	color: white;
}

#header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	margin-bottom: 0;
	padding-bottom: 0;
}

#header .page-header {
	padding: 10px 15px;
	border-bottom-width: 3px;
}

#main {
	position: absolute;
	top: 140px;
	right: 2em;
	bottom: 60px;
	left: 2em;

	padding-top: 0;

	overflow: auto;
}

.jumbotron {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	right: 0;
	z-index: 10;

	height: 100%;
	width: 100%;

	overflow: auto;

	background-color: rgba(250, 250, 250, .95);
}

.jumbotron .container {
	padding: 1em;
}

#canvas {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	background-color: #FFF;
}

#canvas-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 3;
	background-color: #FFF;
	border-bottom: 1px solid #E0E0E0;
	line-height: 50px;
	vertical-align: middle;
}

#canvas-toolbar .btn {
	display: inline;
	margin: 0.5em 0.5em 0 0;
	font-variant: small-caps;
}

#footer .footer-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em 0;
	border-top: 3px solid #EEE;
	text-align: center;
}

/* FORMS */

form .error {
	display: block;
	color: red;